<%= form_with(model: @customer, local: true) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :person_id %>
  </p>

  <p>
    <%= form.label :cpf %><br>
    <%= form.text_field :cpf %>
  </p>

  <p>
    <%= form.label :nickname %><br>
    <%= form.text_area :nickname %>
  </p>

  <p>
    <%= form.submit %>
  </p>

  <%= link_to 'Voltar', customers_path %>

<% end %>
