<h1>Listando Clientes</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Cpf</th>
    <th>Apelido</th>

    <th></th>
  </tr>

  <% @customers.each do |c| %>
    <tr>
      <td><%= c.person.name %></td><br/>
      <td><%= c.cpf %></td>
      <td><%= c.nickname %></td>

      <td><%= link_to 'Mostrar Cliente', customer_path(c) %></td>
      <td><%= link_to 'Editar Cliente', edit_customer_path(c) %></td>
      <td><%= link_to 'Excluir Cliente', customer_path(c), method: :delete, data: {confirm: 'Tem certeza que deseja deletar?'} %></td>


    </tr>




     <% end %>
</table>

<td><%= link_to 'Criar Cliente', new_customer_path%></td>
