<h1>Listando Empresas</h1>

<table>
  <tr>
    <th>Empresa</th>
    <th>Cnpj</th>
    <th>Apelido</th>

    <th></th>
  </tr>

  <% @companies.each do |c| %>
    <tr>
      <td><%= c.person.name %></td><br/>
      <td><%= c.cnpj %></td>
      <td><%= c.nickname %></td>

      <td><%= link_to 'Mostrar Empresa', company_path(c) %></td>

    </tr>

      <td><%= link_to 'Criar Empresa', new_company_path(c) %></td>


     <% end %>
</table>



